{% extends 'base.html' %}
{% block content %}
<div class = 'row-center'>
    <div class = 'col'>
        <h1>Welcome to POSTer</h1>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-error-message'></div>
            <input type='hidden' value='/' name='next'/>
            <textarea required='required'class='form-control' name='content' placeholder='Your POST...'></textarea>
            <button type='submit' class='btn btn-primary btn-lg mt-3'>POST</button>
        </form>
    </div>
</div>

<div class='row' id='tweets'>
    Replace me
</div>

<script>

    function handleTweetCreateFormError(msg, display){
        var errorMessageElement = document.getElementById('tweet-create-error-message')
        if(display){
            //show error message
            errorMessageElement.setAttribute('class', 'd-block alert alert-danger')
            errorMessageElement.innerText = msg
        } else {
            //hide error message
            errorMessageElement.setAttribute('class', 'd-none alert alert-danger')
        }
    }

    function HandleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const endpoint = myForm.getAttribute('action')
        const method = myForm.getAttribute('method')
        const xhr = new XMLHttpRequest()
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, endpoint)
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.onload = function() {
            if(xhr.status === 201){
                // tweet created successfully
                handleTweetCreateFormError("", false)
                const newTweet = xhr.response
                const newTweetElement = formatTweetElement(newTweet)
                const ogHTML = tweetsElement.innerHTML
                tweetsElement.innerHTML = newTweetElement + ogHTML
                myForm.reset()
            } else if(xhr.status === 400){ 
                // bad request
                const errorResponse = xhr.response
                const contentError = errorResponse.content
                let contentErrorMessage;
                if(contentError){
                    contentErrorMessage = contentError[0]
                    if (contentErrorMessage){
                        handleTweetCreateFormError(contentErrorMessage, true)
                    } else {
                        alert("An error occurred while creating tweet")
                    }
                } else {
                    alert("An error occurred while creating tweet")
                }
                console.log(errorResponse)
            } else if(xhr.status === 500){ // server error
                alert("Server error occurred while creating tweet")
            }
             else if(xhr.status === 401){ // server error
                alert("Login bruh")
                window.location.href = "/login"
            }else if(xhr.status === 403){ 
                alert("You must login")
                window.location.href = "/login"
            }
        }
        // can't even handle xhr request / major error
        xhr.onerror = function() {
            alert("Error occurred while creating tweet")
        }
        xhr.send(myFormData)
    }

    const tweetsElement = document.getElementById('tweets')
    const tweetCreateFormElement = document.getElementById('tweet-create-form')
    tweetCreateFormElement.addEventListener('submit', HandleTweetCreateFormDidSubmit)
    
    function loadTweets(){
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "/tweets"
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function() {
            console.log(xhr.response)
            const serverResponse = xhr.response
            var listedItems = serverResponse
            var finalTweetStr = ""
            var i;
            for(i=0; i < listedItems.length; i++){
                var tweetObj = listedItems[i]
                var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem
            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsElement)

    function HandleTweetAction(tweet_id, currentCount, action) {
        console.log("Like button clicked for tweet id: " + tweet_id + " with current count: " + currentCount)
        const url = "/api/tweets/action"
        const method = "POST"
        const data = JSON.stringify({
            id: tweet_id,
            action: action
        })
        const xhr = new XMLHttpRequest()
        const csrftoken = getCookie('csrftoken')
        xhr.open(method, url)
        xhr.setRequestHeader('Content-Type', 'application/json')
        //ajax headers
        xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)
        xhr.onload = function() {
            //handle response and update the like count
            loadTweets(tweetsElement)   
        }
        xhr.send(data)
        return
    }

    function LikeButton(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=HandleTweetAction(" + tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + "Likes</button>"
    }

    function UnlikeButton(tweet){
        return "<button class='btn btn-outline-primary btn-sm' onclick=HandleTweetAction(" + tweet.id + "," + tweet.likes + ",'unlike')>Unlikes</button>"
    }

    function RetweetButton(tweet){
        return "<button class='btn btn-outline-success btn-sm' onclick=HandleTweetAction(" + tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
    }

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border-top border-bottom py-3 mb-4 tweet' id='tweet-id" + tweet.id 
        + "'><p>" + tweet.content + "</p><div class='btn-group'>" + LikeButton(tweet) + UnlikeButton(tweet) + RetweetButton(tweet) + "</div>" + "</div>"
        return formattedTweet
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

</script>
{% endblock content%}